<!DOCTYPE html>
	<html lang='pt-BR'>
	<head>
		<meta charset='UTF-8'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title><%- data.seo.title %></title>
		<link rel="icon" href="/assets/icons/IconFav.png" type="image/png" />
		<link rel="stylesheet" type="text/css" href="/build/bundle.min.css">
	</head>
	<body>
		<div app-container><%- data.html %></div>	
		<script type='text/javascript' src='/build/bundle.min.js'></script>
		<script type='text/javascript' src='smoothscroll.min.js'></script>
	</body>
</html>