.audio-component
	@media (max-width $screen-device-small-max)
			margin-top 192px
			
		
	>.audio-button
		width 42px
		height 42px
		background-color #000000
		border-radius 50px
		cursor pointer
		position relative
		z-index 4

	>.audio-title
		display inline-block
		font-family $BrandonGrotesque-light
		text-transform lowercase
		font-size 1.3em
		letter-spacing 5px
		line-height 2em
		padding-left 20px 
		position relative
		z-index 4
		cursor pointer
		
		&:hover
			text-decoration underline