@font-face 
	font-family: "SourceSansPro Regular";
	src: url("/assets/fonts/source-sans-pro/SourceSansPro-Regular.otf");

@font-face 
	font-family: "BrandonGrotesque bold";
	src: url("/assets/fonts/brandon-grotesque/brandon-grotesque-black.otf");
	
@font-face 
	font-family: "BrandonGrotesque regular";
	src: url("/assets/fonts/brandon-grotesque/brandon-grotesque-regular-italic.otf");

@font-face 
	font-family: "BrandonGrotesque light";
	src: url("/assets/fonts/brandon-grotesque/brandon-grotesque-light.otf");
@font-face 
	font-family: "BrandonGrotesque light italic";
	src: url("/assets/fonts/brandon-grotesque/brandon-grotesque-light-italic.otf");
	
$BrandonGrotesque-regular =  BrandonGrotesque regular

$BrandonGrotesque-bold = BrandonGrotesque bold

$SourceSansPro-Regular = SourceSansPro Regular

$BrandonGrotesque-light = BrandonGrotesque light

$BrandonGrotesque-light-italic = BrandonGrotesque light italic


