.flex-between
	display block
	@media (min-width $screen-device-medium)
	
		display flex
		display -webkit-flex
		justify-content space-between
		-webkit-justify-content space-between
	
.flex-h
	display block
	@media (min-width $screen-device-medium)
	
		display flex
		display -webkit-flex
		flex-direction "row"
		-webkit-flex-direction "row"
		
.flex-center
	display block
	@media (min-width $screen-device-medium)
		display flex
		display -webkit-flex
		justify-content center
		-webkit-justify-content center

.flex-end
	display block
	@media (min-width $screen-device-medium)
		display flex
		display -webkit-flex
		justify-content flex-end
		-webkit-justify-content flex-end
.flex-start
	display block
	@media (min-width $screen-device-medium)
		display flex
		display -webkit-flex
		justify-content flex-start
		-webkit-justify-content flex-start