html
	padding-bottom 50px
	
.link
	text-decoration underline
	color blue
.flex-end
	>img
		position absolute
		right 0
		top 0
.header-close
	margin-top 40px
	margin-right 70px
	@media (max-width $screen-device-small-max)
		margin-top 20px
		margin-right 20px		
	
.about-page
	text-align center
	>.image
		>.img 
			width 1046px
			max-width 100%

	>.title
		max-width 80%
		margin-top 194px
		font-size 3.75rem
		font-family $BrandonGrotesque-light
		letter-spacing 0.3em
		margin-bottom 92px
		@media (max-width $screen-device-small-max)
			font-size 1.294rem
		
	>.text-about
		margin-top 58px
		
		>.explanation
			font-size 1.0625rem
			font-family $BrandonGrotesque-light
			letter-spacing 1px
			right 0
			left 0
			margin auto
			text-align left
			max-width 1046px
			line-height 1.2em
					
			>p
				margin-top 37px
				letter-spacing 1px
				
		>.Datasheet
			font-size .9rem
			font-family $BrandonGrotesque-light
			letter-spacing 1px
			right 0
			left 0
			margin auto
			text-align left
			max-width 1046px
			color #F00
			
			>p
				margin-top 37px
				letter-spacing 1px
				
	
	>.bold
	    text-transform lowercase
	    
		
	>.italic
		font-family $BrandonGrotesque-italic