.container-margin-top
	margin-top 384px
	
	@media (max-width $screen-device-small-max)
		margin-top 45px

.container-title
	text-align center
	font-size 1.5rem
	color red
	letter-spacing 5px
	font-family $BrandonGrotesque-bold
	padding-top 100px
	letter-spacing 0.3em
	
	&.-hide
		opacity 0; 